# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Env
.env
.venv/
venv/
.streamlit/secrets.toml

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/



# Jupyter
.ipynb_checkpoints/
